.footer-con{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(168, 176, 173);
    color: white;
    margin: 40px 0 0 0;
}
.footer{
    width: 1000px;
    margin: 0 auto;
}
.footer .left-side{
    gap: 40px;
}
.footer .right-side{
    margin-left: auto;
    gap: 80px;
    color: rgb(212, 212, 212)
}
.footer .links{
    gap: 10px;
}
.footer .links .link{
    color: rgb(232, 232, 232);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.footer .links .link:hover{
    color: white;
}
.icons{
    gap: 20px;
}
.input{
    position: relative;
}
.input-con{
    gap: 10px;
}
.input input{
    width: 100%;
    border: 1px solid rgb(193, 193, 193);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    transition: border 0.4s ease-in-out;
}
.input input:focus{
    border: 1px solid white;
}
.input input::-webkit-input-placeholder{
    color: rgb(193, 193, 193);
}
.input input::-moz-placeholder{
    color: rgb(193, 193, 193);
}
.input input:-ms-input-placeholder{
    color: rgb(193, 193, 193);
}
.input input::-ms-input-placeholder{
    color: rgb(193, 193, 193);
}
.input input::placeholder{
    color: rgb(193, 193, 193);
}
.input svg{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
}